
	   <h1>
	   		<img alt="" src="<%= image %>" style="border-width: 1px; border-style: solid; width: 250px; height: 200px; float: left; margin: 2px;"/>
	   </h1>

		<h1>Welcome to Wellness Journey !</h1>

		<p><strong>Congratulations</strong> on signing-up for the awesome journey ahead...</p>

		<p>&nbsp;</p>

		<blockquote>Please confirm your email by clicking <a href="<%= url %>" target="_blank">here</a>.</blockquote>

		<p>&nbsp;</p>
 