<h1>
	<img alt="" src="<%= image %>" style="border-width: 1px; border-style: solid; width: 250px; height: 200px; float: left; margin: 2px;"/>
</h1>

<h1>Welcome to Wellness Journey !</h1>

<p>New Destination: <strong>"<%= surveyName %>"</strong> added to your journey. Go there <a href="<%= url %>" target="_blank">now</a> !!</p>

<p>&nbsp;</p>