<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/signup.css' />
    <script src="/javascripts/jquery.min.2.2.0.js"></script>
    <script src="/javascripts/signup.js"></script>  
   </head>
  <body>
	   <div class="login" id="login-div" onclick="void(0)">
	  	  <header class="login-header">
	  	  	<span class="text">Begin your journey!</span>
	  	  	<span class="loader"></span>
	  	  </header>
		  <form class="login-form" >
		  	<input type="text" placeholder="Name" id="name-input" class="login-input" autocomplete="off"/>
		  	<input type="text" placeholder="Salesforce Email" class="login-input" id="email-input" autocomplete="off"/>
		  	<span id="email-input-error" class="emailvalidator"></span>
		  	<span id="validation-msg" class="formValidatorMsg">Enter a valid salesforce.com address</span>
		  	<span id="name-validation-msg" class="formValidatorMsg">Name is required !</span>
		  	<button type="submit" class="login-btn">login</button>
		  </form>
		  <div class="confirmEmailMsg">Onboarded! Check your email for confirmation code.</div>
		</div>
  </body>
</html>