<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/signup.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="/javascripts/signup.js"></script>  
   </head>
  <body>
	   <div class="login">
	  	  <header class="login-header">
	  	  	<span class="text">Begin your journey!</span>
	  	  	<span class="loader"></span>
	  	  </header>
		  <form class="login-form">
		  	<input type="text" placeholder="Salesforce Email" class="login-input"/>
		    <button type="submit" class="login-btn">login</button>
		  </form>
		</div>
  </body>
</html>